({"type" "Toggle", "name" "TEsting", "option1" "fds", "option2" "fds"} {"type" "Open Feedback", "name" "Wee22", "option1" "fdsfs", "option2" ""} {"type" "Slider", "name" "Wee", "option1" "1", "option2" "2"} {"type" "Toggle", "name" "fds", "option1" "fds", "option2" "fds"} {"type" "Poll", "name" "fds", "option1" "fds", "option2" "fds"} {"type" "Poll", "name" "fds", "option1" "fds", "option2" "fds"} {"type" "Toggle", "name" "pace", "option1" "1", "option2" "2"} {"type" "Toggle", "name" "pace", "option1" "1", "option2" "2"} {"type" "Slider", "name" "pace", "option1" "1", "option2" "2"} {"type" "Slider", "name" "fds", "option1" "fds", "option2" "fds"} {"type" "Slider", "name" "fdsf", "option1" "fds", "option2" "fds"} {"type" "Slider", "name" "Pace", "option1" "4", "option2" "5"} {"type" "Slider", "name" "Pace", "option1" "3", "option2" "4"} {"type" "Slider", "name" "Pace", "option1" "1", "option2" "2"})